/* Add CSS Styling */
.odd {
    background-color: #ff000055;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#two {
    color: rgb(0,0,255);
    font-size: 36px;
}

#three {
    font-size: 24px;
}

#four {
    background-color: #00ff0066;
    font-size: 24px;
    font-weight: bold;
}